<header>
<span class="border border-danger" >
<a href="<%=static_page_path%>"> HOME </a>
</span>
<span class="border border-danger">
<a href="<%=static_page_team_path %>"> TEAM </a>
</span>
<span class="border border-danger">
<a href="<%=  static_page_contact_path %>"> CONTACT </a>
</span>
</header>

	<h1>Pour info</h1>
	


<p>Si vous avez un problème, veuillez nous contacter</p>
	<h4 style="margin-left:650px" >Merci de revisiter notre page!!!</h4>
</a>