
<header>
<span class="border border-danger" >
<a href="<%=static_page_path%>"> HOME </a>
</span>
<span class="border border-danger">
<a href="<%=static_page_team_path %>"> TEAM </a>
</span>
<span class="border border-danger">
<a href="<%=  static_page_contact_path %>"> CONTACT </a>
</span>
</header>

  
  <h1>Sur notre page Gossip </h1>


<p>Voici notre équipe: </br>
 moi et.... mon binôme 😇</p>

  
